body{
    color:white;
    background: black;
    margin:5px;
    font-family: "Black Ops One", system-ui;
    margin-bottom: 100px;
}


header{
    border-bottom: solid 1px rgb(96, 155, 91);
    padding : 25px;
    font-size: 35px;
    color: rgb(96, 155, 91);
}


.chamada {
    background: rgb(0,0,74);
    padding-bottom: 30px;
    padding-top: 40px;
    display:flex;
    justify-content: center;
}

.chamda-texto{
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 30px;
}

.categoria-videos{
    display:flex;
    overflow-x:auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5; 
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(96, 155, 91);
}