body{
    color:white;
    background: black;
    margin:5px;
    font-family: "Black Ops One", system-ui;
}


header{
    border-bottom: solid 1px rgb(96, 155, 91);
    padding : 25px;
    font-size: 35px;
    color: rgb(96, 155, 91);
}


section{
    background: rgb(0,0,74);
    padding-bottom: 30px;
    padding-top: 40px;
    display:flex;
    justify-content: center;
}

.chamda-texto{
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 30px;
}
img{
    height: 200px;
}